.auto-slider {
  width: 100%;
  overflow: hidden;
}

.auto-track {
  display: flex;
  gap: 30px; /* space between cards */
  animation: scroll 12s linear infinite;
  animation-play-state: running; /* default running */
}

/* Pause scrolling on hover */
.auto-slider:hover .auto-track {
  animation-play-state: paused;
}

/* BANNER CARD */
.banner-container {
  min-width: 60%;
  background: #fff;
  border-radius: 25px;
  border: 3px solid #1faa50;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px 60px;

  transition: 0.4s ease; /* for hover effect */
}

/* Hover Effect */
.banner-container:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  border-color: #28c45a;
}

/* LEFT / RIGHT */
.banner-left {
  width: 40%;
}

.banner-right {
  width: 40%;
  display: flex;
  justify-content: center;
}

/* TITLE */
.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.title span {
  color: #18a24a;
}

/* IMAGE */
.banner-img {
  width: 350px;
}

/* BUTTON */
.shop-btn {
  margin-top: 25px;
  padding: 12px 32px;
  font-size: 24px;
  background-color: #1faa50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* AUTO SCROLL ANIMATION */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
